

 
.raleway-primaryfont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
   
  font-style: normal;
}




nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size:34px ;
     font-weight: bold;
     color: #4E47FF;
     margin: 50px 0px 0px 150px;
}
 .blue-button{
     width: 132px;
    height: 48px;
    margin:50px 150px 0px 0px ;
    color:#ffffff;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
 }

 /* hero section style */
 .hero-title{
    font-family:"raleway";
    justify-content: center;
    text-align: center;
    

 }
 .cool-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-top: 158px;
    margin-bottom: 10px;
     
    
 }

 .second-title{
  font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-top: 5px;
 }
 .second-button{
    margin: 0px 643px 152px 560px;
 }
 header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
 }
