

 
.raleway-primaryfont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
   
  font-style: normal;
}




nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size:34px ;
     font-weight: bold;
     color: #4E47FF;
     margin: 50px 0px 0px 150px;
}
 .blue-button{
   font-size: 18px;
    font-weight: bold;
     width: 132px;
    height: 48px;
    margin:50px 150px 0px 0px ;
    color:#ffffff;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
 }

 /* hero section style */
 .hero-title{
    font-family:"raleway";
    justify-content: center;
    text-align: center;
    

 }
 .cool-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-top: 158px;
    margin-bottom: 10px;
     
    
 }

 .second-title{
  font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-top: 5px;
 }
 .second-button{
    margin: 0px 643px 152px 560px;
 }
 header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
 }
/* main style */
main{
   max-width: 940px;
    
   margin: 0px 160px 0px  130px;
}

.writing{
   width: 517px;
   margin-top: 62px;
   margin-bottom: 62px;
}
.main-sec{
   display: flex;
   justify-content: space-between;
   align-items: center;
    
   
}
.main-title{
   font-size: 42px;
   font-weight: bold;
   color: #252432;
   margin-top: 100px;
   margin-bottom: 2px;
}
.main-des{
   font-size: 24px;
   font-weight: 400;
   color: #252432;
   margin-top: 10px;
   margin-bottom: 23px;
}
.third-button{
   color:#ffffff;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    width: 229px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 6px;
    margin-bottom: 50px;
}
.image{
   max-width: 400px;
   border-radius: 48px;
   position: bottom right;
}

/* user section */
 .achieve-section{
   background-color:#4E47FF1A;
;
   border-radius: 24px;
      
 }
.achieve-title{
   font-size: 38px;
   font-weight: bold;
   padding:50px 120px 0px 130px ;
}
 
.total{
   display: flex;
   justify-content: space-around;
    

}
.title{
   font-size: 50px;
   font-weight: bold;
   color: #4E47FF;
   margin-top: 5px;
   margin-bottom: 0px;


}
.disc{
font-size: 20px;
color: #000000;
margin-top: 4px;
} 
/* review card style */
 
.container{
   display: flex;
   justify-content: space-around;

}

.review-section {
     
    background-color: #FFFFFF;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
 
 .review-title {
    color: #333;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.review-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.stars {
    height: 25px;  
    margin-bottom: 10px;
    background-image: url('../Assets/icon-star.png');
    background-repeat: repeat-x;
    background-size: 20px;  
    width: 100px;  
}
.loved-by {
     
    margin: 0px;
    font-size: 16px;
}
.this-tem {
    
    font-size: 14px;
    margin: 0 0 10px 0;
}
.reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.reviewer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}
.review-name{
    margin: 0;
    font-size: 12px;
    color: #666;
}